@font-face {
    font-family: Satoshi-Variable;
    src: url(Satoshi-VariableItalic.woff2);
    src: url(Satoshi-VariableItalic.woff);
    src: url(Satoshi-Variable.ttf);
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Clash-Grotesk;
    src: url(ClashGrotesk-Variable.woff2);
    src: url(ClashGrotesk-Variable.woff);
    src: url(ClashGrotesk-Variable.ttf);
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

:ROOT{
    --black : #050401;
    --maincolor : #863A20;
    --mainfont : 16px;
    --satoshi : Satoshi-Variable;
    --clash : Clash-Grotesk;
}

body{
    margin: 0;
}

p{
    margin: 0;
}

#hero-section{
    width: 100%;
    height: 752px;
    background-image: url(hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#header{
    position: absolute;
    top: 0;
    width: calc(100% - 140px);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    height: 42px;
}

nav{
    display: flex;
    gap: 10px;
    font-family: var(--satoshi);
    color: #CDCDCD;
    text-align: center;
    font-size: var(--mainfont);
    font-weight: 400;
    text-transform: capitalize;
}

nav a:first-child{
    color: var(--maincolor);
    font-weight: 700;
}

#claw{
    display: flex;
    gap: 5px;
}

#claw p{
    color: var(--maincolor);
    font-family: var(--clash);
    font-size: var(--mainfont);
    font-weight: 600;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

#herotext{
    width: 636px;
    text-align: center;
    font-family: var(--clash);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

#herotext span{
    color: var(--maincolor);
}

#herosub{
    width: 496px;
    text-align: center;
    font-family: var(--satoshi);
    font-size: var(--mainfont);
    font-weight: 400;
}

#check{
    display: inline-flex;
    padding: 14px 40px;
    align-items: flex-start;
    border-radius: 5px;
    border: none;
    background: var(--maincolor);
    color: white;
    text-align: center;
    font-family: var(--satoshi);
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

#practice{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    color: var(--maincolor);
    text-align: center;
    font-family: var(--clash);
    font-size: 24px;
    font-weight: 600;
}

#tsub{
    color: var(--black);
    text-align: center;
    font-family: var(--satoshi);
    font-size: var(--mainfont);
    font-weight: 400;
}

#areas{
    background-image: url(edge.svg);
    width: 1164px;
    height: 482px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#areasbg{
    background-image: url(areasbg.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.10);
    width: 1020px;
    height: 458px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 265px;
    position: relative;
    padding: 0 60px;
    overflow: hidden;
}

#rightbutton, #leftbutton{
    background: none;
    border: none;
    z-index: 1;
}

.left,.right{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#areascontainer{
    position: absolute;
    /* width: 1140px; */
    left: 0;
    overflow: visible;
}

#roll{
    display: flex;
    align-items: center;
    gap: 375px;
    padding-left: 375px;
    padding-right: 375px;
    position: relative;
}

#ccp{
    display: inline-flex;
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #FFF;
    width: 390px;
    box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.05);
}

#areasicon{
    width: 54px;
}

.areastitle{
    color: var(--black);
    text-align: center;
    font-family: var(--clash);
    font-size: 20px;
    font-weight: 500;
    align-self: stretch;
}

.areassub{
    color: var(--black);
    text-align: center;
    font-family: var(--satoshi);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 350px;
}

#partner{
    margin-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#partner div{
    display: flex;
    width: 1065px;
    justify-content: space-between;
    align-items: center;
}

#partner div img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.08);
}

#lawyers{
    margin-top: 100px;
}

#lawcards{
    width: calc(100% - 140px);
    margin: 30px 70px;
    align-items: center;
    gap: 50px;
    display: flex;
    overflow: auto;
}

#lawcards::-webkit-scrollbar{
    display: none;
}

#cardone{
    display: inline-flex;
    align-items: center;
    gap: 0;
    position: relative;
}

.lawimage{
    width: 400px;
    height: 550px;
    border-radius: 10px;
    /* box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.15); */
}

.aboutlaw{
    background-image: url(aboutlaw.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 0;
    z-index: -1;
}

.lawname{
    color: var(--maincolor);
    font-family: var(--clash);
    font-size: 20px;
    font-weight: 500;
}

.lawbody{
    width: 300px;
    color: var(--black);
    text-align: justify;
    font-family: var(--satoshi);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#lavernimg{
    background-color: #FFF;
    background-image: url(lavern.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#florenceimg{
    background-color: #FFF;
    background-image: url(florence.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#redwomanimg{
    background-color: #FFF;
    background-image: url(redwoman.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#dreadimg{
    background-color: #FFF;
    background-image: url(dread.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#prettyimg{
    background-color: #FFF;
    background-image: url(pretty.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#afroimg{
    background-color: #FFF;
    background-image: url(afro.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes showabout {
    from{
        position: relative;
        left: -400px;
    }

    to{
        position: relative;
        left: -10px;
    }
}

@keyframes width {
    from{
        width: 400px;
    }

    to{
        width: 300px;
    }
}

#cardone:hover #lavern{
    position: relative;
    left: -10px;
    animation: showabout 500ms cubic-bezier(0, 0, 0.58, 1);
}


#cardone:hover .lawimage{
    width: 300px;
    animation: width 500ms ease;
}

#reviews{
    margin-top: 100px;
}

#reviewscontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap: 50px;
    margin-top: 30px;
    position: relative;
}

.reviewbox{
    display: flex;
    width: 290px;
    padding: 40px 30px;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    border-radius: 10px;
    border-left: 3px solid var(--maincolor);
    background: #FFF;
    box-shadow: 0px 14px 34px 0px rgba(81, 81, 81, 0.10);
}

.author{
    color: var(--black);
    font-family: var(--satoshi);
    font-size: 20px;
    font-weight: 700;
}

.mainreview{
    color: var(--black);
    font-family: var(--satoshi);
    font-size: var(--mainfont);
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
}

#darlene{
    justify-content: center;
    align-items: center;
    border: none;
}

#dar{
    text-align: center;
}

#jane{
    justify-content: center;
    align-items:end;
    border-left: none;
    border-right: 3px solid var(--maincolor);
}

#jan{
    text-align: right;
}

.maskone{
    position: absolute;
    left: 550px;
    top: 175px;
    z-index: -1;
}

.masktwo{
    position: absolute;
    right: 550px;
    top: 175px;
    z-index: -1;
}

#close{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#close img{
    width: 381px;
    border-radius: 200px;
}

#closetitle{
    color: var(--maincolor);
    font-family: var(--clash);
    font-size: 40px;
    font-weight: 600;
}

#closebod{
    color: var(--black);
    font-family: var(--satoshi);
    font-size: var(--mainfont);
    font-weight: 400;
    line-height: 24px;
}

#closetext button{
    border-radius: 5px;
    background: var(--maincolor);
    display: inline-flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: var(--satoshi);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #28110A;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: relative;
}

#flogo{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#flogo img{
    height: 72px;
}

#flogo p{
    width: 325px;
    color: #C9C9C9;
    font-family: var(--satoshi);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#contactd{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 100px;
}

#office{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#offtit{
    color: #C9C9C9;
    text-align: center;
    font-family: var(--clash);
    font-size: var(--mainfont);
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

#offbod{
    color: #C9C9C9;
    text-align: center;
    font-family: var(--satoshi);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#numbers{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

#numbers p{
    color: #C9C9C9;
    text-align: center;
    font-family: var(--satoshi);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#foot{
    color: #C9C9C9;
    text-align: center;
    font-family: var(--satoshi);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    bottom: 30px;
}